* {
	font-family: FuturaNewBook-Reg, Helvetica, Arial;
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #222429;
	font-size: medium;
	color: white;
	vertical-align: top;
}

input[type=number] {
	border-style: none none solid none;
	border-width: thin;
	//border-color: ;
	background-color: inherit;
	width: 4em;
	margin-left: 0.5em;
	text-align: right;
	//clear: both;
}

ul.tabs {
	margin: 16px;
	margin-bottom: 0;
	padding: 0px;
	list-style: none;
}

ul.tabs li {
	background: none;
	color: #999;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current {
	background: #2C3137;
	color: white;
}

/*
#calc-app {
	//display: flex;
}
*/

.calc-form {
	display: none;
	margin: 16px;
	margin-top: 0;
	padding: 16px;
	background-color: #2C3137;
}

.calc-form.current {
	display: flex;
}

.panel {
	/*display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;*/
	margin: 1em auto;
	padding: 1em;
	min-width: 240px;
	box-shadow: 1px 1px 3px 0px black;
	
}

.panel-label {
	display: block;
	margin-bottom: 1em;
	font-size: large;
	text-align: right;
}

.panel-row {
	margin-bottom: 0.5em;
	//display: table-row;
}

.input-box {
	float: right;
}

th {
	text-align: left;
}

table {
}

tr:nth-child(odd) {
	//background-color: #2C3137;
	background-color: #222429;
}
